<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />


    <application
        android:name="com.walid.appmuslim.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/GreenActionBarTheme"
        >


        <activity
            android:name="com.walid.appmuslim.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/APP">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.walid.appmuslim.OccasionsActivity"
            android:exported="true"
            android:label="@string/title_activity_occasions"
            android:theme="@style/MenuNavigation3Theme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <!-- Points to searchable activity -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".AuteursActivity" />

            <!-- Points to searchable meta data -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name="com.walid.appmuslim.CategoryActivity"
            android:label="@string/title_activity_category"
            android:theme="@style/MenuNavigation3Theme" />
        <activity
            android:name="com.walid.appmuslim.AzkarActivity"
            android:label="@string/title_activity_azkar" />
        <activity
            android:name="com.walid.appmuslim.AzkarsActivity"
            android:label="@string/title_activity_azkars"
            android:theme="@style/MenuNavigation3Theme">

        </activity>

        <activity
            android:name="com.walid.appmuslim.AboutActivity"
            android:label="@string/title_contactus"
            android:theme="@style/GreenActionBarTheme" />


        <activity
            android:name="com.walid.appmuslim.QuranPlayActivity"
            android:label="@string/title_activity_quran"
            android:parentActivityName="com.walid.appmuslim.Quranlist">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.walid.appmuslim.Quranlist" />
        </activity>


        <activity
            android:name="com.walid.appmuslim.Quranlist"
            android:label="@string/title_activity_quran"
            android:theme="@style/MenuNavigation3Theme" />


        <activity
            android:name="com.walid.appmuslim.MainActivity"
            android:theme="@style/MenuNavigation3Theme" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.walid.appmuslim.MainActivity" />
        <activity
            android:name="com.walid.appmuslim.UserSettingActivity"
            android:label="@string/title_activity_user_setting" />


        <receiver
            android:name="com.walid.appmuslim.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.walid.appmuslim.WidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service android:name="com.walid.appmuslim.NotifyService" />


        <receiver android:name="com.walid.appmuslim.AlarmReceiver" />


        <activity
            android:name="com.walid.appmuslim.AzkarsTimeSettingsActivity"
            android:theme="@style/GreenActionBarTheme" />


    </application>

</manifest>
